In [1]:
print("Hello World")

Hello World

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame([[1,2,3],['a','b','c'],[5,6,7]], columns=['A','B','C'] ,index=['row1','row2','row3'])

In [4]:
df

      A  B  C
row1  1  2  3
row2  a  b  c
row3  5  6  7

In [5]:
df.info() #This will give a brief info about the dataframe like no of rows, columns, data types of each column, memory usage etc.

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, row1 to row3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      object
 1   B       3 non-null      object
 2   C       3 non-null      object
dtypes: object(3)
memory usage: 96.0+ bytes

In [6]:
df.describe() #This will give statistical summary of numerical columns in the dataframe like count, mean

        A  B  C
count   3  3  3
unique  3  3  3
top     1  2  3
freq    1  1  1

In [7]:
df.head(2) #This will show first n no of rows where n is the argument passed. 5 rows of the dataframe are shown by default when no argument is passed

      A  B  C
row1  1  2  3
row2  a  b  c

In [8]:

df.tail(2) #This will show last n no of rows where n is the argument passed. 5 rows of the dataframe are shown by default when no argument is passed

      A  B  C
row2  a  b  c
row3  5  6  7

In [9]:
df.index #This will show the index of the dataframe

Index(['row1', 'row2', 'row3'], dtype='object')

In [10]:
df.columns #This will show the column names of the dataframe or headers

Index(['A', 'B', 'C'], dtype='object')

In [12]:
df.nunique() #This will give number of unique values in each column of the dataframe

A    3
B    3
C    3
dtype: int64

In [13]:
df['A']  #This will show the data of column A

row1    1
row2    a
row3    5
Name: A, dtype: object

In [14]:
df['A'].nunique()  #This will show number of unique values in column A

3

In [ ]:
df.shape #This will give the shape of the dataframe in (rows, columns) format

(3, 3)

In [16]:
df.size #This will give the total number of elements in the dataframe i.e. rows * columns

9