In [1]:
print("Hello World")

Hello World

In [3]:
import pandas as pd

In [5]:
df = pd.DataFrame([[1,2,3],['a','b','c'],[5,6,7]], columns=['A','B','C'] ,index=['row1','row2','row3'])

In [ ]:
df

      A  B  C
row1  1  2  3
row2  a  b  c
row3  5  6  7

In [ ]:
df.head(2) #This will show first n no of rows where n is the argument passed. 5 rows of the dataframe are shown by default when no argument is passed
df.tail(2) #This will show last n no of rows where n is the argument passed. 5 rows of the dataframe are shown by default when no argument is passed